# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code project settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environments
env/
venv/
.venv/

# macOS system files
.DS_Store

# Logs
*.log
